
<div class="top"></top>
<div class="container">
	<div class="span12">

	<p id="notice"><%= notice %></p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Post comment:</b>
  <%= @post.post_comment %>
</p>
<%=link_to "Back", birthdays_path %>

</div>
</div>