<%if current_user.email == "leanmeyheng@gmail.com"%>
<script type="text/javascript">
window.location.href="/birthdays"
</script>

<%else%>

<div class="navbar navbar-fixed-top navbar-inner"><h4>Editing</h4></div>

<%= render 'form' %>

<%= link_to 'Show', @birthday %> |
<%= link_to 'Back', birthdays_path %>
<%end%>