<% if signed_in?%>
<div class="top"></div>
<div class="navbar navbar-fixed-top navbar-inner"><h4>New Birthday</h4></div>



<%= render 'form' %>

<%= link_to 'Back', birthdays_path %>

<%else%>
<script type="text/javascript">
window.location.href="/users/sign_in"
</script>

<%end%>